<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
    
  <h2>About this project</h2>
  
<p>ChicagoLobbyists.org is intended to improve the transparency of interactions between City of Chicago agencies and lobbyists and their clients. All data comes from the City of Chicago and can be found at <a href="http://data.cityofchicago.org">data.cityofchicago.org</a>. We expect to make this application available for use with any city, county, or state.</p>

<p>This is a project of <a href='http://twitter.com/chadwpry'>Chad</a>, <a href='http://twitter.com/patelc75'>Chirag</a>, <a href='http://twitter.com/derek_eder'>Derek</a>, <a href='http://twitter.com/rougeux'>Nick</a>, <a href='http://twitter.com/paulbaker'>Paul</a>, <a href='http://twitter.com/unruthless'>Ruthie</a>, and <a href='http://twitter.com/ryanbriones'>Ryan</a>. Paul noticed the lobbyist data, conceived the project, and got the team together. Chad and Ryan did the bulk of the backend development with help from Derek and Chirag. Derek and Ruthie did the frontend development. Nick and Paul worked on the user interface prototypes.</p>

<p>The datasets that are currently available do not allow us to present how much each client paid to each lobbyist or lobbying firm, nor which clients requested what actions in front of which agencies. We expect that the City will add data to make this possible.</p>

<p>If you have any comments, questions or feature suggestions, you can contact us at <a href='mailto:chi.lobbyists@gmail.com'>chi.lobbyists@gmail.com</a>.</p>
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->