<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
    
  <h2>What's this all about?</h2>
  
  <p>About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb About blurb</p>

  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->