<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
    
  <h2>What's this all about?</h2>
  
<p>ChicagoLobbyists.org is intended to improve the transparency of interactions between City of Chicago agencies and lobbyists and their clients. All data comes from the City of Chicago and can be found at <a href="http://data.cityofchicago.org">data.cityofchicago.org</a>. We expect to make this application available for use with any city, county, or state.</p>

<p>This is a project of Chad, Chirag, Derek, Nick, Paul, Ruthie, and Ryan. Paul noticed the lobbyist data, conceived the project, and got the team together. Chad and Ryan did the bulk of the backend development with help from Derek and Chirag. Derek and Ruthie did the frontend development. Nick and Paul worked on the user interface prototypes.</p>

<p>If you're shopping for a lobbyist, ratings are not necessarily a good indication of effectiveness. For now, until we get additional data, we've divided the amount that a lobbyist has billed by the number of reported interactions with City agencies.</p>

<p>The datasets that are currently available do not allow us to present how much each client paid to each lobbyist or lobbying firm, nor which clients requested what actions in front of which agencies. We expect that the City will add data to make this possible.</p>

  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->