<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
    
  <div class="clear"></div>
  
  <h1>Agencies</h1>
  
  <table id="listing" class="listing">
    <thead>
      <tr>
        <th>Agencies</th>
        <th>Actions Sought in 2010</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h3><a href="/agencies/1">Aviation (AVIA)</a></h3></td>
        <td class="bar"><span style="width:100%;"><strong>73</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/agencies/1">Aviation (AVIA)</a></h3></td>
        <td class="bar"><span style="width:50%;"><strong>50</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/agencies/1">Aviation (AVIA)</a></h3></td>
        <td class="bar"><span style="width:42%;"><strong>42</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/agencies/1">Aviation (AVIA)</a></h3></td>
        <td class="bar"><span style="width:10%;"><strong>10</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/agencies/1">Aviation (AVIA)</a></h3></td>
        <td class="bar"><span style="width:1%;"><strong>1</strong></span></td>
      </tr>
    </tbody>
  </table>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
