<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>City Agency</p>
      <h1>Aviation (AVIA)</h1>
    </div>
    
    <div id="bio-primary">
      <div class="c2l">
        
        <div class="section spotlight">
          <h2>Actions involving lobbyists</h2>
          <p><strong>56 Administrative<br />27 Legislative</strong></p>
        </div><!-- /.section -->
        
        <div class="section">
          <h2>Lobbyists seeking actions</h2>
          <table>
            <thead>
              <tr>
                <th>Lobbyist</th>
                <th title="Administrative actions">Admin.</th>
                <th title="Legislative actions">Leg.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="lobbyist.html">Myles Berman</a></td>
                <td>6</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">Michael Brown</a></td>
                <td>3</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">Demetrius Carney</a></td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">David Crosson</a></td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">John Cullerton</a></td>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">Myles Berman</a></td>
                <td>6</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">Michael Brown</a></td>
                <td>3</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">Demetrius Carney</a></td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">David Crosson</a></td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">John Cullerton</a></td>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">Myles Berman</a></td>
                <td>6</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">Michael Brown</a></td>
                <td>3</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">Demetrius Carney</a></td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">David Crosson</a></td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td><a href="lobbyist.html">John Cullerton</a></td>
                <td>1</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.section -->

        <div class="section">
          <h2>Lobbyists seeking actions</h2>
          <ul>
            <li><a href="lobbyist.html">Marcus Nunes</a></li>
            <li><a href="lobbyist.html">Richard Carbonara</a></li>
            <li><a href="lobbyist.html">Caroline Domagalski</a></li>
            <li><a href="lobbyist.html">Robert Markin</a></li>
            <li><a href="lobbyist.html">Kate O. Tragesser</a></li>
          </ul>
        </div><!-- /.section -->
        
        <div class="section">
          <h2>Clients</h2>
          <ul>
            <li><a href="client.html">Aetna, Inc.</a> (5)</li>
            <li><a href="client.html">ALL Masonry</a> (2)</li>
            <li><a href="client.html">Alladin Landscaping</a> (1)</li>
            <li><a href="client.html">Ambar, Inc.</a> (3)</li>
            <li><a href="client.html">AT &amp; T Services</a> (5)</li>
            <li><a href="client.html">Atkco Construction Services LLC</a> (2)</li>
            <li><a href="client.html">Avis Budget Group, Inc</a> (1)</li>
            <li><a href="client.html">Aztec Supply Corp.</a> (1)</li>
            <li><a href="client.html">Azteca Supply Co.</a> (4)</li>
            <li><a href="client.html">Cash America International</a> (2)</li>
            <li><a href="client.html">Castro Rioja Enterprises LLC</a> (1)</li>
            <li><a href="client.html">Chicago Carriage Cab Company</a> (2)</li>
            <li><a href="client.html">Chicago Crushing and Recycling</a> (3)</li>
          </ul>
        </div><!-- /.section -->
        
      </div>
      
      <div class="c2r">
        
        <div class="section">
          <h2>Actions sought</h2>
          
          <p class="mute">Current data does not allow us to learn <strong>how much each client paid to each lobbying firm or lobbyist.</strong> We expect that the city will add data to make this possible.</p>
          
          <dl>
            <dt>Industry concerns</dt>
            <dd><a href="agency.html">Office of the Mayor</a> (5)</dd>
            
            <dt>TIF</dt>
            <dd><a href="agency.html">Budget and management</a> (3)</dd>
            <dd><a href="agency.html">City Council</a> (2)</dd>
            
            <dt>Procurement</dt>
            <dd><a href="agency.html">Budget and management</a> (74)</dd>
            
            <dt>Tax Assistance</dt>
            <dd><a href="agency.html">Budget and management</a> (6)</dd>
            <dd><a href="agency.html">City Council</a> (12)</dd>
          </dl>
          
        </div><!-- /.section -->
      </div>
      
      <div class="c2r">


      </div>
    </div>
    <div id="bio-secondary">
      <img alt="" src="../images/map.jpg" />
      
      <p><strong>5 miles</strong> from Chicago City Hall</p>
      <p>
        <a href="firm.html">Chico and Nunes, PC</a>
        <br />333 W. Wacker Dr., Ste 1800
        <br />Chicago, 60606
      </p>
    </div>
  </div>
  
  <div class="clear"></div>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->