<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>Client of lobbying firm</p>
      <h1>Wal-Mart Stores, Inc.</h1>
    </div>
    
    <div id="bio-primary">
      <div class="c2l">
        
        <div class="section">
          <h2>Lobbying firms and which lobbyists were engaged</h2>
          <dl>
            <dt><a href="/firms/1">Neal &amp; Leroy, LLC</a></dt>
            <dd><a href="/lobbyists/1">Mary George</a> (*****)</dd>
            <dd><a href="/lobbyists/1">Neal Langdon</a> (*****)</dd>
            <dd><a href="/lobbyists/1">Carol Stubblefield</a> (*****)</dd>
            
            <dt><a href="/firms/1">Nicolay &amp; Dart, LLC</a></dt>
            <dd><a href="/lobbyists/1">Timothy Dart</a></dd>
            
            <dt><a href="/firms/1">Serafin &amp; Associates, Inc</a></dt>
            <dd><a href="/lobbyists/1">Betsy Sales</a></dd>
            <dd><a href="/lobbyists/1">Thom Serafin</a></dd>

            <dt><a href="/firms/1">Dewey, Cheatham &amp; Howe</a></dt>
            <dd><a href="/lobbyists/1">Betsy Dewey</a></dd>
            <dd><a href="/lobbyists/1">Thomas Cheatham</a></dd>
            <dd><a href="/lobbyists/1">Albert Howe</a></dd>
          </dl>
        </div><!-- /.section -->
        
      </div><!-- /.c2l -->
      
      <div class="c2r">
        
        <div class="section">
          <h2>Payments received from city departments</h2>
          <table>
            <thead>
              <tr>
                <th>Department</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="/agencies/1">Finance</a></td>
                <td>$4,117,804.16</td>
              </tr>
              <tr>
                <td><a href="/agencies/1">Office of Compliance</a></td>
                <td>$32,423.00</td>
              </tr>
              <tr>
                <td><a href="/agencies/1">Planning and Development</a></td>
                <td>$140,184.50</td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.section -->
        
      </div><!-- /.cr2 -->
      
    </div>
    <div id="bio-secondary">
      <p class="mute">From current data we cannot learn <strong>how much clients paid to hire which lobbyists for what purposes.</strong> We expect that the city will add data to make this possible.</p>
    </div>
  </div>
  
  <div class="clear"></div>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->