<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <script type="text/javascript">
    $(function(){
      setBarWidthByCurrency();
    
      $("#listing").dataTable({
        "aaSorting": [[0, "asc"]],
        "aoColumns": [
          null,
          { "sType": "num-html" }
        ],
        "bFilter": false,
        "bInfo": false,
        "bPaginate": false
      });
    });
  </script>
  
  <div class="clear"></div>
  
  <h1>Lobbying firms</h1>
  
  <table id="listing" class="listing">
    <thead>
      <tr>
        <th><span>Firm</span></th>
        <th><span>Amount billed in 2010</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h3><a href="/firms/1">Dewey Cheatham &amp; Howe, LLC</a></h3></td>
        <td class="bar"><span><strong>263013</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/firms/1">Dewey Cheatham &amp; Howe, LLC</a></h3></td>
        <td class="bar"><span><strong>63013</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/firms/1">Dewey Cheatham &amp; Howe, LLC</a></h3></td>
        <td class="bar"><span><strong>33013</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/firms/1">Dewey Cheatham &amp; Howe, LLC</a></h3></td>
        <td class="bar"><span><strong>24013</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/firms/1">Dewey Cheatham &amp; Howe, LLC</a></h3></td>
        <td class="bar"><span><strong>12013</strong></span></td>
      </tr>
    </tbody>
  </table>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
