<!DOCTYPE html>
<html>
<head>
	<!-- Title -->
	<title><%= html_title(@page_title) %></title>
	<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
	
	<!-- Info -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="google-site-verification" content="6oHOT6PXw490mF1qyuiToMoG96gA85-kTbNYyL3UtTo" />
	
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/master.css" />

	<!-- JavaScript -->
  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.ezpz_hint.min.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.dataTables.js" type="text/javascript"></script>
	<script src="/javascripts/dataTables.sorting.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.formatCurrency-1.4.0.min.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.masonry.min.js" type="text/javascript"></script>
	<script src="/javascripts/listing.bars.js" type="text/javascript"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="/javascripts/analytics_lib.js" type="text/javascript"></script>
	
	<script type="text/javascript">
		$(function(){
			$('#bio-primary').masonry({
			  columnWidth: 346,
			  gutterWidth: 30,
			  itemSelector: '.section'
			});
		});

    var geocoder = new google.maps.Geocoder();
    var map = null;
    var map_bounds = new google.maps.LatLngBounds();

    function defineMap(latlng) {
      var myOptions = {
        zoom: 13,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false,
        scrollwheel: false,
        
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      
      var city_hall_latLang = new google.maps.LatLng(41.883205,-87.630204);
      var city_hall_MarkerImage = 'http://chicagolobbyists.org/images/city-hall.png';
      var city_hall = new google.maps.Marker({
          map: map,
          position: city_hall_latLang,
          icon: city_hall_MarkerImage,
          title: 'City Hall'
        });
    }

    function geocode(address) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (map != null) {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
            map_bounds.extend(results[0].geometry.location);
            map.fitBounds(map_bounds);

            if (map.zoom > 13) {
              map.setZoom(13);
            }
          } else {
            alert("Geocode was not successful for the following reason: " + status);
          }
        }
      });
    }
  </script>
</head>
<body>

<%= cl_erb "common/nav" %>

<%= yield %>

</body>
</html>
