<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Chicago Lobbyists</title>
  
  <link rel="stylesheet" type="text/css" href="stylesheets/chicago_lobbyists.css" />
</head>

<body>
  <%= yield %>
</body>
</html>