<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>Lobbyist</p>
      <h1>Theodor Brunsvold <img alt="3 out of 4 stars" src="/images/rating-3.png" /> <a href="#"><img alt="What is this" src="/images/help.png" /></a></h1>
    </div>
    
    <div id="bio-primary">
      <div class="c2l">
        <div class="section">
          <h2>2010 payments</h2>
          <p><strong class="total-paid">$978,000</strong></p>
        </div>
        
        <div class="section">
          <h2>Clients</h2>
          <ul>
            <li><a href="client.html">3M Corporation</a></li>
            <li><a href="client.html">Allstate Insurance Co.</a></li>
            <li><a href="client.html">CFSA Ciber Inc</a></li>
            <li><a href="client.html">David Mason &amp; Associates of Illinois</a></li>
            <li><a href="client.html">Diageo Multistate Corp</a></li>
            <li><a href="client.html">Direct TV Group Inc</a></li>
            <li><a href="client.html">DirectV, Inc</a></li>
            <li><a href="client.html">Dish Network</a></li>
            <li><a href="client.html">Elgin Sweeping Services Inc</a></li>
            <li><a href="client.html">Illinois Pipe Trades Advancement &amp; Promotion Program</a></li>
            <li><a href="client.html">Kronos Inc.</a></li>
            <li><a href="client.html">Lorillard Tobacco</a></li>
            <li><a href="client.html">Ltd.HP (Hewlett Packard)</a></li>
            <li><a href="client.html">Oracle</a></li>
            <li><a href="client.html">Satellite Broadcasting &amp; Communications</a></li>
            <li><a href="client.html">Symantec Corp</a></li>
          </ul>
        </div>
      </div>
      <div class="c2r">
        <div class="section">
          <h2>Actions sought</h2>
          
          <dl>
            <dt>Industry concerns</dt>
            <dd>Office of the Mayor (5)</dd>
            
            <dt>TIF</dt>
            <dd>Budget and management (3)</dd>
            <dd>City Council (2)</dd>
            
            <dt>Procurement</dt>
            <dd>Budget and management (74)</dd>
            
            <dt>Tax Assistance</dt>
            <dd>Budget and management (6)</dd>
            <dd>City Council (12)</dd>
          </dl>
          
          <p class="mute">Current data does not allow us to learn which clients requested what actions in front of which committees. We expect that the city will add data to make this possible.</p>
        </div>
        <div class="section">
          <h2>Agencies</h2>
          
          <p>With whom this lobbyist worked seeking actions.</p>
          
          <table>
            <thead>
              <tr>
                <th>Agency</th>
                <th title="Administrative actions">Admin.</th>
                <th title="Legislative actions">Leg.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="agency.html">Budget and management</a></td>
                <td>19</td>
                <td>18</td>
              </tr>
              <tr>
                <td><a href="agency.html">City Council</a></td>
                <td>28</td>
                <td>27</td>
              </tr>
              <tr>
                <td><a href="agency.html">Department of Police</a></td>
                <td>19</td>
                <td>19</td>
              </tr>
              <tr>
                <td><a href="agency.html">General Services</a></td>
                <td>26</td>
                <td>23</td>
              </tr>
              <tr>
                <td><a href="agency.html">Office of the Mayor</a></td>
                <td>28</td>
                <td>25</td>
              </tr>
              <tr>
                <td><a href="agency.html">Transportation</a></td>
                <td>28</td>
                <td>28</td>
              </tr>
              <tr>
                <td><a href="agency.html">Water Management</a></td>
                <td>24</td>
                <td>23</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="bio-secondary">
      <img alt="" src="/images/map.jpg" />
      
      <p><strong>5 miles</strong> from Chicago City Hall</p>
      <p>
        <a href="/firms/1">Illinois Governmental Consulting Group, LLC</a>
        <br />500 N. dearborn #1030
        <br />Chicago, 60610
      </p>
    </div>
  </div>
  
  <div class="clear"></div>

  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->