<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <script type="text/javascript">
    $(function(){
      setBarWidthByCurrency();
    
      $("#listing").dataTable({
        "aaSorting": [[0, "asc"]],
        "aoColumns": [
          null,
          null,
          { "sType": "num-html" }
        ],
        "bFilter": false,
        "bInfo": false,
        "bPaginate": false
      });
    });
    
  </script>
  
  <div class="clear"></div>
  
  <h1>Lobbyists</h1>
  
  <table id="listing" class="listing">
    <thead>
      <tr>
        <th><span>Lobbyist</span></th>
        <th><span>Firm</span></th>
        <th><span>Amount billed in 2010</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h3><a href="/lobbyists/1">Alfred Smith</a></h3></td>
        <td><a href="/firms/1">A Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span style="width:100%;"><strong>263013.00</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/lobbyists/1">Derek Smith</a></h3></td>
        <td><a href="/firms/1">B Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span style="width:80%;"><strong>63013.36</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/lobbyists/1">John Smith</a></h3></td>
        <td><a href="/firms/1">C Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span style="width:60%;"><strong>3013.00</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/lobbyists/1">John Smith</a></h3></td>
        <td><a href="/firms/1">D Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span style="width:10%;"><strong>4.52</strong></span></td>
      </tr>
    </tbody>
  </table>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
