<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <script type="text/javascript">
  	$("#listing").dataTable({
      "aaSorting": [[1, "desc"]],
      "aoColumns": [
        null,
        { "sType": "currency" },
        { "sType": "currency" },
        { "bSortable": false }
      ],
      "bFilter": false,
      "bInfo": false,
      "bPaginate": false
    });
  </script>
  
  <div class="clear"></div>
  
  <h1>Lobbyists</h1>
  
  <table class="listing">
    <thead>
      <tr>
        <th><span>Lobbyist</span></th>
        <th><span>Firm</span></th>
        <th><span>Paid in 2010</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h3><a href="/lobbyists/1">John Smith</a></h3></td>
        <td><a href="/firms/1">Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span style="width:100%;"><strong>$248,263,013</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/lobbyists/1">John Smith</a></h3></td>
        <td><a href="/firms/1">Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span style="width:80%;"><strong>$38,263,013</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/lobbyists/1">John Smith</a></h3></td>
        <td><a href="/firms/1">Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span style="width:60%;"><strong>$28,263,013</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="/lobbyists/1">John Smith</a></h3></td>
        <td><a href="/firms/1">Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span style="width:10%;"><strong>$28,263,013</strong></span></td>
      </tr>
    </tbody>
  </table>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
