<!-- Footer -->
<div id="footer">
  <p>Chicago Lobbyists designed and developed by <a href="http://www.webitects.com">Webitects</a> and <a href="http://www.obtiva.com">Obtiva</a>.</p>
</div>
<!-- /Footer -->
