<!-- Header -->
<div id="header">
  <div id="logo"><a href="/"><img alt="Chicago Lobbyists" src="/images/logo.png" /></a></div>
  <!-- <div id="search">
    <form action="#" method="get">
      <input class="hint" type="text" title="Find&hellip;" />
      <input type="submit" value="Search" />
    </form>
  </div> -->
  <div class="clear"></div>
</div>
<!-- /Header -->