<div id="nav">
  <div id="nav-content">
    <ul>
      <li class="<%= current_menu_class("home") %>"><a href="/">Home</a></li>
      <li class="<%= current_menu_class("about") %>"><a href="/about">About</a></li>
    </ul>
  </div>
</div>
