<div id="nav">
  <div id="nav-content">
    <ul>
      <li class="<%= current_menu_class("home") %>"><a href="/">Home</a></li>
      <li class="<%= current_menu_class("about") %>"><a href="/about">About</a></li>
      <li><a href="http://blog.chicagolobbyists.org">Blog</a></li>
    </ul>
	  <div class="r">
		  <strong>New version!</strong> <a href='http://blog.chicagolobbyists.org/2011/12/02/chicago-lobbyists-v2-is-here/'>Check out what changed</a>
	  </div>
	</div>
	<div class='clear'></div>
</div>
