<ul id="stats">
  <li><a class="stat" href="/lobbyists"><strong>421</strong> Lobbyists</a></li>
  <li><a class="stat" href="/clients"><strong>1,018</strong> Clients</a></li>
  <li id="paid"><span class="stat"><strong>$14,461,775.75</strong> Paid to lobbyists in 2010</a></li>
  <li><a class="stat" href="/agencies"><strong>534</strong> Actions sought</a></li>
  <li><a class="stat" href="/firms"><strong>244</strong> Lobbying firms</a></li>
</ul>