<!DOCTYPE html>
<html>
<head>
	<!-- Title -->
	<title>Chicago Lobbyists</title>
	
	<!-- Info -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" media="all" href="../styles/master.css" />

	<!-- JavaScript -->
    <script src="../javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="../javascripts/jquery.ezpz_hint.min.js" type="text/javascript"></script>
	<script src="../javascripts/jquery.dataTables.js" type="text/javascript"></script>
	<script src="../javascripts/dataTables.sorting.js" type="text/javascript"></script>
	<script src="../javascripts/jquery.formatCurrency-1.4.0.min.js" type="text/javascript"></script>
	<script src="../javascripts/listing.bars.js" type="text/javascript"></script>
  
  <script type="text/javascript">
    $(function() {
      $(".hint").ezpz_hint();

	var maxArray = new Array();
    $('.bar span strong').each(function(){
      maxArray.push(parseInt($(this).html()));
    });
    
    console.log('maxArray: ' + maxArray);
    var maxNumber = Math.max.apply( Math, maxArray );
    if (maxNumber > 0)
    {
      console.log('maxNumber: ' + maxNumber);
      $('.bar').each(function(){
        console.log('number: ' + $(this).children().children().html());
        $(this).children().width((($(this).children().children().html()/maxNumber) * 100) + '%');
      });
    }
    $('.bar span strong').formatCurrency();

      
      $("#listing").dataTable({
        "aaSorting": [[0, "asc"]],
        "aoColumns": [
          null,
          null,
          { "sType": "num-html" }
        ],
        "bFilter": false,
        "bInfo": false,
        "bPaginate": false
      });
    });
  </script>
</head>
<body>

<div id="nav">
  <div id="nav-content">
    <ul>
      <li class="current"><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </div>
</div>

<!-- Content -->
<div id="content">
  <!-- Header -->
  <div id="header">
    <div id="logo"><a href="index.html"><img alt="Chicago Lobbyists" src="../images/logo.png" /></a></div>
    <div id="search">
      <form action="#" method="get">
        <input class="hint" type="text" title="Find&hellip;" />
        <input type="submit" value="Search" />
      </form>
    </div>
    <div class="clear"></div>
  </div>
  <!-- /Header -->
  
  <ul id="stats">
    <li><a class="stat" href="#"><strong>421</strong> Lobbyists</a></li>
    <li><a class="stat" href="#"><strong>1,018</strong> Clients</a></li>
    <li id="paid"><span class="stat"><strong>$14,461,775.75</strong> Paid to lobbyists in 2010</a></li>
    <li><a class="stat" href="#"><strong>534</strong> Actions sought</a></li>
    <li><a class="stat" href="#"><strong>244</strong> Lobbying firms</a></li>
  </ul>
  
  <div class="clear"></div>
  
  <h1>Lobbyists</h1>
  
  <table class="listing" id="listing">
    <thead>
      <tr>
        <th><span>Lobbyist</span></th>
        <th><span>Firm</span></th>
        <th><span>Paid in 2010</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h3><a href="lobbyist.html">John Smith</a></h3></td>
        <td><a href="firm.html">Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span><strong>248263013</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="lobbyist.html">John Smith</a></h3></td>
        <td><a href="firm.html">Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span><strong>8263013</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="lobbyist.html">John Smith</a></h3></td>
        <td><a href="firm.html">Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span><strong>63013</strong></span></td>
      </tr>
      <tr>
        <td><h3><a href="lobbyist.html">John Smith</a></h3></td>
        <td><a href="firm.html">Dewey Cheatham &amp; Howe, LLC</a></td>
        <td class="bar"><span><strong>3013</strong></span></td>
      </tr>
    </tbody>
  </table>
  
  <!-- Footer -->
  <div id="footer">
    <p>Chicago Lobbyists designed and developed by <a href="http://www.webitects.com">Webitects</a> and <a href="http://www.obtiva.com">Obtiva</a>.</p>
  </div>
  <!-- /Footer -->
</div>
<!-- /Content -->

</body>
</html>